.class {
    width: 35%;
    height: 275px;
    padding: 20px 10px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #cdfffa;
    border-radius: 20px;
    font-size: 10px;
    box-shadow: 0 0 10px 0 #0000009f;

    .classForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 18px 0 10px;
            
        div {
            width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            label {
                font-weight: bold;
                font-size: 12px;
                margin: 7px;
            }
            input {
                padding: 1px 3px;
                font-size: 12px;
            }
            input:focus {
                background-color: beige;
            }
        }



        .btn {
            width: 320px;
            display: block;
            margin: 15px 3px 0;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            background-color: #4CAF50;
            color: white;
            border-radius: 3px;
        }
        .btn:hover {
            cursor: pointer;
            background-color: #357a37;
            transition: 0.3s;
        }
    }
}

