body {
    background-color: rgba(121, 195, 227, 0.696);
}

.app {
    padding: 20px 0;
}

.upForm {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.tables {
    display: flex;
    justify-content: space-around;
}
.table {
    width: 35%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}
.table, th, td {
    border: 1px solid black;
}
th {
    background-color: #f2f2f2;
}   
td {
    background-color: #f9f9f9;
}
